version: '3.8'

services:
  # --- PROXY (S1) ---
  s1-proxy:
    image: nginx:alpine
    container_name: s1_proxy
    ports:
      - "80:80"
    volumes:
      # Montamos la configuraci贸n de proxy
      - ./proxy/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - s2-app
      - s3-app
    networks:
      - extagram-net

 # --- BACKEND (S2, S3, S4) ---
  s2-app:
    image: php:fpm-alpine
    container_name: s2_app
    volumes:
      # Montamos el c贸digo PHP para que lo ejecute
      - ./src/html:/var/www/html
    networks:
      - extagram-net
    command: /bin/sh -c "docker-php-ext-install mysqli && php-fpm"
  s3-app:
    image: php:fpm-alpine
    container_name: s3_app
    volumes:
      - ./src/html:/var/www/html
    networks:
      - extagram-net
    command: /bin/sh -c "docker-php-ext-install mysqli && php-fpm"
  s4-upload:
    image: php:fpm-alpine
    container_name: s4_upload
    volumes:
      - ./src/html:/var/www/html
      # Volumen compartido para guardar fotos
      - ./uploads:/var/www/html/uploads
    networks:
      - extagram-net
    command: /bin/sh -c "docker-php-ext-install mysqli && php-fpm"
 # --- DATABASE (S7) ---
  s7-db:
    image: mariadb:10.6   # Usamos una versi贸n LTS estable
    container_name: s7_db
    environment:
      # MariaDB acepta las variables MYSQL
      MARIADB_ROOT_PASSWORD: rootpassword
      MARIADB_DATABASE: extagram_db
      MARIADB_USER: extagram_admin
      MARIADB_PASSWORD: pass123
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d
    networks:
      extagram-net:
        aliases:
          - db.extagram.itb

  # --- STATIC & IMAGES (S5, S6) ---
  s5-images:
    image: nginx:alpine
    container_name: s5_images
    volumes:
      # Sirve las fotos que subi贸 S4
      - ./uploads:/usr/share/nginx/html/uploads
    networks:
      - extagram-net

  s6-static:   # Nombre del servicio
    image: nginx:alpine
    container_name: s6_static  
    volumes:
      - ./static:/usr/share/nginx/html
      - ./uploads:/usr/share/nginx/html/uploads
    networks:
      - extagram-net
networks:
  extagram-net:
    driver: bridge

    
